.Sidebar {
  background-color: #248bcc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.Logo {
  width: 30%;
}
.Sidebar-title {
  font-size: 2rem;
  text-transform: uppercase;
}
.Sidebar-subtitle {
  font-size: 1.5rem;
}

.Sidebar-subtitle a {
  color: rgb(201, 204, 20);
}
@media (max-width: 1000px) {
  .Sidebar {
    display: none;
  }
}
